:root {
    --white: #ffffff;
    --gray:#5c616b;
    --gray2:#757880;
    --black:#1e2025;
    --red:#bb0000;
    --blue1:#daf6ff;
    --blue2:#0aafe6;
    --whiteRed:#f3b7b7;
    --whiteYellow:#f5f5b4;
    --whiteGreen:#c0f5c7;
}
*{
    box-sizing: border-box;
    margin: 0px;
}

body{
    background-color: var(--black);
    color: var(--white);
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header{
    width: 100%;
    height: 15%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

canvas {
    border: 1px solid var(--white);
    display: block;
    width: 70%;
    height: 80%;
}